################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/book_ranking_tests
/book_ranking_method_kroon
/Book_ordering_method_test
/Book_ordering_method_kroon
/algo_exercise
/algoTest2
/algo5
/algo4
/algo3
/database_first_app_test/.vs/database_first_app_test
/database_first_app/bin/Debug
/circle_interface
/deposit_interface
/gym_database_mvc
/hello_app
/async_test
/interface_implementation
/html_link_reader
/loading_bar_test
/mosh_aspnet_mvc
/random_code
/WebApplication1
/wpf_quipu_project
/WebApplication1
/startup_test
/wpf_random_plate
/rand_cod
/wpf_test
/database_first_aspnet_app_mvc
