################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/book_ranking_tests
/book_ranking_method_kroon
/Book_ordering_method_test
/Book_ordering_method_kroon
/async_test
/wpf_test
/wpf_random_plate
/wpf_quipu_project
/WebApplication1
/startup_test
/rand_cod
/random_code
/mosh_aspnet_mvc
/loading_bar_test
/interface_implementation
/html_link_reader
/hello_app
/gym_database_mvc
/deposit_interface
/database_first_aspnet_app_mvc
/circle_interface
/wpf_html_tag_counting_app/.vs/ProjectEvaluation/wpf_html_tag_counting_app.projects.v6.1
/wpf_html_tag_counting_app/.vs/ProjectEvaluation/wpf_html_tag_counting_app.metadata.v6.1
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/DesignTimeBuild/.dtbcache.v2
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/d1bbca08-71bc-4c02-a77a-5d78b0948485.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/c1c42ed9-e6ee-4ebf-aae6-8f768fdc048e.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/b8f23c9e-11c3-4032-aadf-db2f9137bf4e.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/908cf868-0c36-4fa6-9b86-314e8c77bb17.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/8f49e085-0446-4f20-946f-72e2d001a85e.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/6b53079e-a042-4436-b951-4f46557fee82.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/67f946db-ef0c-4746-9005-5e2d7537deb3.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/4ad6526a-0c6e-44eb-aa56-df0c396029aa.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/908cf868-0c36-4fa6-9b86-314e8c77bb17.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/8f49e085-0446-4f20-946f-72e2d001a85e.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex/6b53079e-a042-4436-b951-4f46557fee82.vsidx
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/FileContentIndex
/wpf_html_tag_counting_app/obj
/wpf_html_tag_counting_app/.vs/wpf_html_tag_counting_app/v17/.suo
/wpf_html_tag_counting_app/bin/Debug/net6.0-windows/wpf_html_tag_counting_app.pdb
/wpf_html_tag_counting_app/bin/Debug/net6.0-windows/wpf_html_tag_counting_app.dll
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/wpf_html_tag_counting_app_MarkupCompile.i.lref
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/wpf_html_tag_counting_app_MarkupCompile.i.cache
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/wpf_html_tag_counting_app.pdb
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/wpf_html_tag_counting_app.dll
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/refint/wpf_html_tag_counting_app.dll
/wpf_html_tag_counting_app/obj/Debug/net6.0-windows/ref/wpf_html_tag_counting_app.dll
